[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/jslint"]
	path = bundle/jslint
	url = https://github.com/hallettj/jslint.vim.git
[submodule "bundle/indentanything"]
	path = bundle/indentanything
	url = https://github.com/vim-scripts/IndentAnything.git
